<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552582592972-b3sus6qjtn8k2fcutr24js6sdsthkqtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552582592972-b3sus6qjtn8k2fcutr24js6sdsthkqtr</string>
	<key>API_KEY</key>
	<string>AIzaSyDDeDgq1ghrZjOrTr2EGArlrc-k4z4SyHA</string>
	<key>GCM_SENDER_ID</key>
	<string>552582592972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mAc.RJTHealthAndFitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-8aada</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-8aada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552582592972:ios:1437529251b1ddcd</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-8aada.firebaseio.com</string>
</dict>
</plist>